openapi: 3.0.3
info:
    title: MailBaby Email Delivery and Management Service API
    version: 1.3.0
    description: >
        **Send emails fast and with confidence through our easy to use
        [REST](https://en.wikipedia.org/wiki/Representational_state_transfer) API interface.**

        # Overview

        This is the API interface to the [Mail Baby](https//mail.baby/) Mail services provided by
        [InterServer](https://www.interserver.net). To use this service you must have an account with us at
        [my.interserver.net](https://my.interserver.net).

        # Authentication

        In order to use most of the API calls you must pass credentials from the
        [my.interserver.net](https://my.interserver.net/) site.

        We support several different authentication methods but the preferred method is to use the **API Key**
        which you can get from the [Account Security](https://my.interserver.net/account_security) page.
    termsOfService: 'https://www.interserver.net/terms-of-service.html'
    contact:
        name: Mail Baby
        url: 'https://www.mail.baby/contact/'
        email: support@interserver.net
    license:
        name: GNU GPLv3
        url: 'https://www.gnu.org/licenses/gpl.txt'
servers:
    -
        url: 'https://api.mailbaby.net'
        description: Live API Endpoint
paths:
    /mail:
        get:
            tags:
                - Services
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/MailOrder'
                            examples:
                                MailOrders:
                                    value:
                                        -
                                            id: 39
                                            status: active
                                            username: mb39
                                        -
                                            id: 33
                                            status: canceled
                                            username: mb33
                                            comment: test order
                    links:
                        sendMailByIdLink:
                            operationId: sendMail
                            parameters:
                                id: '$response.body#/0/id'
                            description: >-
                                The `id` value returned in the response can be used as the `id` parameter in
                                `GET /mail/advsend`.
                    description: OK
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '404':
                    $ref: '#/components/responses/Unauthorized'
            operationId: getMailOrders
            summary: displays a list of mail service orders
            description: >-
                This will return a list of the mail orders you have in our system including their id, status,
                username, and optional comment.
    /mail/blocks:
        get:
            tags:
                - Blocking
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/MailBlocks'
                            examples:
                                MailBlocksExample:
                                    value:
                                        local:
                                            -
                                                date: '2023-08-07'
                                                from: user@domain.com
                                                messageId: pFaRqFUEWkucjhTuIzYuoAgWU@domain.com
                                                subject: Test Email
                                                to: '[''client@site.com'']'
                                        mbtrap:
                                            -
                                                date: '2023-08-07'
                                                from: user@domain.com
                                                messageId: pFaRqFUEWkucjhTuIzYuoAgWU@domain.com
                                                subject: Test Email
                                                to: '[''client@site.com'']'
                                        subject:
                                            -
                                                from: user@domain.com
                                                subject: Test Email
                    links:
                        delistBlockLink:
                            operationId: delistBlock
                            parameters:
                                email: '$response.body#/local/0/from'
                            description: >-
                                The `from` value returned in the response can be used as the `email` parameter
                                in `DELETE /mail/blocks`.
                    description: OK
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '404':
                    $ref: '#/components/responses/Unauthorized'
            operationId: getMailBlocks
            summary: displays a list of blocked email addresses
    /mail/send:
        post:
            requestBody:
                content:
                    application/x-www-form-urlencoded:
                        schema:
                            $ref: '#/components/schemas/SendMail'
                    application/json:
                        schema:
                            $ref: '#/components/schemas/SendMail'
                required: true
            tags:
                - Sending
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GenericResponse'
                    description: search results matching criteria
                '400':
                    $ref: '#/components/responses/BadInput'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '404':
                    $ref: '#/components/responses/NotFound'
            operationId: sendMail
            summary: Sends an Email
            description: >
                Sends an email through one of your mail orders.


                *Note*: If you want to send to multiple recipients or use file attachments use the advsend
                (Advanced Send) call instead.
    /mail/advsend:
        summary: Sends an Email with Advanced Options
        description: >-
            Sends An email through one of your mail orders allowing additional options such as file
            attachments, cc, bcc, etc.
        post:
            requestBody:
                content:
                    application/x-www-form-urlencoded:
                        schema:
                            $ref: '#/components/schemas/SendMailAdv'
                        examples:
                            AdvSendExample:
                                value:
                                    subject: Welcome
                                    body: Hello
                                    from:
                                        email: user@domain.com
                                    to:
                                        -
                                            email: someone@client.com
                                            name: Mr Client
                                    attachments:
                                        -
                                            filename: message.txt
                                            data: base64_encoded_contents
                                    id: 66
                    application/json:
                        schema:
                            $ref: '#/components/schemas/SendMailAdv'
                        examples:
                            AdvSendExample:
                                value:
                                    subject: Welcome
                                    body: Hello
                                    from:
                                        email: user@domain.com
                                    to:
                                        -
                                            email: someone@client.com
                                            name: Mr Client
                                    attachments:
                                        -
                                            filename: message.txt
                                            data: base64_encoded_contents
                                    id: 66
                required: true
            tags:
                - Sending
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GenericResponse'
                    description: search results matching criteria
                '400':
                    $ref: '#/components/responses/BadInput'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '404':
                    $ref: '#/components/responses/NotFound'
            operationId: sendAdvMail
            summary: Sends an Email with Advanced Options
            description: >
                Sends An email through one of your mail orders allowing additional options such as file
                attachments, cc, bcc, etc.


                Here are 9 examples showing the various ways to call the advsend operation showing the
                different ways you can pass the to, cc, bcc, and replyto information. The first several
                examples are all for the application/x-www-form-urlencoded content-type while the later ones
                are for application/json content-types.


                ```BasicForm

                curl -i --request POST --url https://api.mailbaby.net/mail/advsend \

                --header 'Accept: application/json' \

                --header 'Content-Type: application/x-www-form-urlencoded' \

                --header 'X-API-KEY: YOUR_API_KEY' \

                --data 'subject=Welcome' \

                --data 'body=Hello' \

                --data from=user@domain.com \

                --data to=support@interserver.net

                ```


                ```ArrayForm

                curl -i --request POST --url https://api.mailbaby.net/mail/advsend \

                --header 'Accept: application/json' \

                --header 'Content-Type: application/x-www-form-urlencoded' \

                --header 'X-API-KEY: YOUR_API_KEY' \

                --data 'subject=Welcome' \

                --data 'body=Hello' \

                --data from=user@domain.com \

                --data "to[0][name]=Joe" \

                --data "to[0][email]=support@interserver.net"

                ```


                ```NameEmailForm

                curl -i --request POST --url https://api.mailbaby.net/mail/advsend \

                --header 'Accept: application/json' \

                --header 'Content-Type: application/x-www-form-urlencoded' \

                --header 'X-API-KEY: YOUR_API_KEY' \

                --data 'subject=Welcome' \

                --data 'body=Hello' \

                --data from="Joe <user@domain.com>" \

                --data to="Joe <support@interserver.net>"

                ```


                ```MultToForm

                curl -i --request POST --url https://api.mailbaby.net/mail/advsend \

                --header 'Accept: application/json' \

                --header 'Content-Type: application/x-www-form-urlencoded' \

                --header 'X-API-KEY: YOUR_API_KEY' \

                --data 'subject=Welcome' \

                --data 'body=Hello' \

                --data from=user@domain.com \

                --data "to=support@interserver.net, support@interserver.net"

                ```


                ```MultToFullForm

                curl -i --request POST --url https://api.mailbaby.net/mail/advsend \

                --header 'Accept: application/json' \

                --header 'Content-Type: application/x-www-form-urlencoded' \

                --header 'X-API-KEY: YOUR_API_KEY' \

                --data 'subject=Welcome' \

                --data 'body=Hello' \

                --data from=user@domain.com \

                --data "to=Joe <support@interserver.net>, Joe <support@interserver.net>"

                ```


                ```MultToArrayForm

                curl -i --request POST --url https://api.mailbaby.net/mail/advsend \

                --header 'Accept: application/json' \

                --header 'Content-Type: application/x-www-form-urlencoded' \

                --header 'X-API-KEY: YOUR_API_KEY' \

                --data 'subject=Welcome' \

                --data 'body=Hello' \

                --data from=user@domain.com \

                --data "to[0][name]=Joe" \

                --data "to[0][email]=support@interserver.net" \

                --data "to[1][name]=Joe" \

                --data "to[1][email]=support@interserver.net"

                ```


                ```BasicJson

                curl -i --request POST --url https://api.mailbaby.net/mail/advsend \

                --header 'Accept: application/json' \

                --header 'Content-Type: application/json' \

                --header 'X-API-KEY: YOUR_API_KEY' \

                --data '{

                "subject": "Welcome",

                "body": "Hello",

                "from": "user@domain.com",

                "to": "support@interserver.net"

                }'

                ```


                ```ArrayJson

                curl -i --request POST --url https://api.mailbaby.net/mail/advsend \

                --header 'Accept: application/json' \

                --header 'Content-Type: application/json' \

                --header 'X-API-KEY: YOUR_API_KEY' \

                --data '{

                "subject": "Welcome",

                "body": "Hello",

                "from": {"name": "Joe", "email": "user@domain.com"},

                "to": [{"name": "Joe", "email": "support@interserver.net"}]

                }'

                ```


                ```NameEmailJson

                curl -i --request POST --url https://api.mailbaby.net/mail/advsend \

                --header 'Accept: application/json' \

                --header 'Content-Type: application/json' \

                --header 'X-API-KEY: YOUR_API_KEY' \

                --data '{

                "subject": "Welcome",

                "body": "Hello",

                "from": "Joe <user@domain.com>",

                "to": "Joe <support@interserver.net>"

                }'

                ```
    /mail/log:
        get:
            tags:
                - History
            parameters:
                -
                    example: 2604
                    name: id
                    description: The ID of your mail order this will be sent through.
                    schema:
                        format: int64
                        type: integer
                    in: query
                    required: false
                -
                    example: 1.2.3.4
                    name: origin
                    description: originating ip address sending mail
                    schema:
                        type: string
                    in: query
                    required: false
                -
                    example: mx.google.com
                    name: mx
                    description: mx record mail was sent to
                    schema:
                        type: string
                    in: query
                    required: false
                -
                    example: me@sender.com
                    name: from
                    description: from email address
                    schema:
                        type: string
                    in: query
                    required: false
                -
                    example: you@receiver.com
                    name: to
                    description: to/destination email address
                    schema:
                        type: string
                    in: query
                    required: false
                -
                    example: Support
                    name: subject
                    description: subject containing this string
                    schema:
                        type: string
                    in: query
                    required: false
                -
                    example: 185997065c60008840
                    name: mailid
                    description: mail id
                    schema:
                        type: string
                    in: query
                    required: false
                -
                    example: 1000
                    name: skip
                    description: number of records to skip for pagination
                    schema:
                        format: int32
                        default: 0
                        minimum: 0
                        type: integer
                    in: query
                    required: false
                -
                    example: 1000
                    name: limit
                    description: maximum number of records to return
                    schema:
                        format: int32
                        default: 100
                        maximum: 10000
                        minimum: 1
                        type: integer
                    in: query
                    required: false
                -
                    example: 1641781008
                    name: startDate
                    description: earliest date to get emails in unix timestamp format
                    schema:
                        format: int64
                        maximum: 9999999999
                        minimum: 0
                        type: integer
                    in: query
                    required: false
                -
                    example: 1673317008
                    name: endDate
                    description: earliest date to get emails in unix timestamp format
                    schema:
                        format: int64
                        maximum: 9999999999
                        minimum: 0
                        type: integer
                    in: query
                    required: false
                -
                    name: replyto
                    description: Reply-To Email Address
                    schema:
                        type: string
                    in: query
                    required: false
                -
                    name: headerfrom
                    description: Header From Email Address
                    schema:
                        type: string
                    in: query
                    required: false
                -
                    name: delivered
                    description: Limiting the emails to wether or not they were delivered.
                    schema:
                        enum:
                            - '0'
                            - '1'
                        type: string
                    in: query
                    required: false
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/MailLog'
                            examples:
                                MailLogExample:
                                    value:
                                        total: 1
                                        skip: 0
                                        limit: 100
                                        emails:
                                            -
                                                _id: 103172
                                                id: 17c7eda538e0005d03
                                                from: person@mysite.com
                                                to: client@isp.com
                                                subject: sell 0.005 shares
                                                messageId: >-
                                                    <vmiLEebsuCbSpUxD7oN3REpaN4VbN6BrdCAbNKIrdAo@relay0.mailbaby.net>
                                                created: '2021-10-14 08:50:10'
                                                time: 1634215809
                                                user: mb5658
                                                transtype: ESMTPSA
                                                origin: 199.231.189.154
                                                interface: feeder
                                                sendingZone: interserver
                                                bodySize: 63
                                                seq: 1
                                                delivered: 1
                                                recipient: client@isp.com
                                                domain: interserver.net
                                                locked: 1
                                                lockTime: '1634215818533'
                                                assigned: relay1
                                                queued: '2021-10-14T12:50:15.487Z'
                                                mxHostname: mx.j.is.cc
                                                response: 250 2.0.0 Ok queued as C91D83E128C
                    description: search results matching criteria
                '400':
                    description: bad input parameter
            operationId: viewMailLog
            summary: displays the mail log
            description: |
                Get a listing of the emails sent through this system
    /ping:
        get:
            tags:
                - Status
            responses:
                '200':
                    description: Server is up and running
                default:
                    description: Something is wrong
            operationId: pingServer
            summary: Checks if the server is running
    /mail/blocks/delete:
        post:
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/EmailAddress'
                        examples:
                            BlocksDeleteExample:
                                value:
                                    email: client@domain.com
                    multipart/form-data:
                        schema:
                            $ref: '#/components/schemas/EmailAddress'
                        examples:
                            BlocksDeleteExampleForm:
                                value:
                                    email: client@domain.com
                required: true
            tags:
                - Blocking
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GenericResponse'
                    description: search results matching criteria
                '400':
                    $ref: '#/components/responses/BadInput'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '404':
                    $ref: '#/components/responses/NotFound'
            operationId: delistBlock
            summary: Removes an email address from the blocked list
            description: |
                Removes an email address from the various block lists.
    /mail/rules:
        summary: Deny Rules
        description: >-
            The deny rules allow you to setup assorted types of rules which will automatically deny the email
            from being sent through our system when  the citeria match.
        get:
            tags:
                - Blocking
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/DenyRuleRecord'
                            examples:
                                ExampleMailRulesList:
                                    value:
                                        -
                                            id: '14'
                                            user: mb20682
                                            type: email
                                            data: domeinwo@server.guesshost.net
                                            created: '2022-03-22 19:16:35'
                                        -
                                            id: '15'
                                            user: mb20682
                                            type: email
                                            data: mamediieva@thedigital.gov.ua
                                            created: '2022-03-22 19:18:01'
                    links:
                        delistBlockLink:
                            operationId: delistBlock
                            parameters:
                                id: '$response.body#/0/id'
                            description: >-
                                The `id` value returned in the response can be used as the `id` parameter in
                                `GET /mail/advsend`.
                    description: OK
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '404':
                    $ref: '#/components/responses/Unauthorized'
            operationId: getRules
            summary: Displays a listing of deny email rules.
            description: Returns a listing of all the deny block rules you have configured.
        post:
            requestBody:
                description: These are the fields needed to create a new email deny rule.
                content:
                    application/x-www-form-urlencoded:
                        schema:
                            $ref: '#/components/schemas/DenyRuleNew'
                        examples:
                            DenyRuleNewFormExample:
                                value:
                                    user: mb20682
                                    type: email
                                    data: domeinwo@server.guesshost.net
                    application/json:
                        schema:
                            $ref: '#/components/schemas/DenyRuleNew'
                        examples:
                            DenyRuleNewJsonExample:
                                value:
                                    user: mb20682
                                    type: email
                                    data: domeinwo@server.guesshost.net
                required: true
            tags:
                - Blocking
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GenericResponse'
                    description: search results matching criteria
                '400':
                    $ref: '#/components/responses/BadInput'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '404':
                    $ref: '#/components/responses/NotFound'
            operationId: addRule
            summary: Creates a new email deny rule.
            description: Adds a new email deny rule into the system to block new emails that match the given criteria
    '/mail/rules/{ruleId}':
        delete:
            tags:
                - Blocking
            parameters:
                -
                    examples:
                        RuleIdExample:
                            value: '34'
                    name: ruleId
                    description: The ID of the Rules entry.
                    schema:
                        type: integer
                    in: path
                    required: true
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GenericResponse'
                    description: search results matching criteria
                '400':
                    $ref: '#/components/responses/BadInput'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '404':
                    $ref: '#/components/responses/NotFound'
            operationId: deleteRule
            summary: Removes an deny mail rule.
            description: Removes one of the configured deny mail rules from the system.
    /mail/stats:
        get:
            tags:
                - History
            parameters:
                -
                    name: time
                    description: The timeframe for the statistics.
                    schema:
                        enum:
                            - all
                            - billing
                            - month
                            - 7d
                            - 24h
                            - 1d
                            - 1h
                        type: string
                    in: query
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/MailStatsType'
                    links:
                        delistBlockLink:
                            operationId: delistBlock
                            parameters:
                                id: '$response.body#/0/id'
                            description: >-
                                The `id` value returned in the response can be used as the `id` parameter in
                                `GET /mail/advsend`.
                    description: OK
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '404':
                    $ref: '#/components/responses/Unauthorized'
            operationId: getStats
            summary: Account usage statistics.
            description: Returns information about the usage on your mail accounts.
    /mail/rawsend:
        post:
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/SendMailRaw'
                    multipart/form-data:
                        schema:
                            $ref: '#/components/schemas/SendMailRaw'
                required: true
            tags:
                - Sending
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GenericResponse'
                    description: successful email response
                '400':
                    $ref: '#/components/responses/BadInput'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '404':
                    $ref: '#/components/responses/NotFound'
            operationId: rawMail
            summary: Sends a raw email
            description: >-
                This call will let you pass the raw / complete email contents (including headers) as a string
                and have it get sent as-is.  This is useful for things like DKIM signed messages.
components:
    schemas:
        GenericResponse:
            type: object
            properties:
                status:
                    type: string
                    example: ok
                text:
                    type: string
                    example: The command completed successfully.
        ErrorMessage:
            title: ErrorMessage
            description: The resposne when an error occurs.
            required:
                - code
                - message
            type: object
            properties:
                code:
                    format: int32
                    description: The response code associated with the error.
                    type: integer
                    example: '400'
                message:
                    description: The details or description of the error.
                    type: string
                    example: There was an error.
            example:
                code: 400
                message: There was an error.
        EmailAddressName:
            title: EmailAddressName
            description: An email contact.
            required:
                - email
            type: object
            properties:
                email:
                    description: The email address.
                    type: string
                    example: user@domain.com
                name:
                    description: Name to use for the sending contact.
                    type: string
                    example: John Smith
            example:
                email: user@domain.com
                name: John Smith
        DenyRuleRecord:
            title: DenyRuleRecord
            description: The data for a email deny rule record.
            type: object
            allOf:
                -
                    required:
                        - id
                        - created
                    type: object
                    properties:
                        id:
                            description: The deny rule Id number.
                            type: string
                            example: '41124'
                        created:
                            format: date-time
                            description: the date the rule was created.
                            type: string
                            example: '2022-03-22 19:16:35'
                -
                    $ref: '#/components/schemas/DenyRuleNew'
            example:
                id: 14
                user: mb20682
                type: email
                data: domeinwo@server.guesshost.net
                created: '2022-03-22 19:16:35'
        DenyRuleNew:
            title: DenyRuleNew
            description: The data for a email deny rule record.
            required:
                - type
                - data
            type: object
            properties:
                user:
                    description: >-
                        Mail account username that will be tied to this rule.  If not specified the first
                        active mail order will be used.
                    type: string
                    example: mb20682
                type:
                    description: The type of deny rule.
                    enum:
                        - domain
                        - email
                        - startswith
                        - destination
                    type: string
                    example: email
                data:
                    description: >-
                        The content of the rule.  If a domain type rule then an example would be google.com.
                        For a begins with type an example would be msgid-.  For the email typer an example
                        would be user@server.com.
                    type: string
                    example: domeinwo@server.guesshost.net
            example:
                user: mb20682
                type: email
                data: domeinwo@server.guesshost.net
        MailAttachment:
            title: MailAttachment
            description: (optional) File attachments to include in the email.  The file contents must be base64
            required:
                - data
                - filename
            type: object
            properties:
                filename:
                    description: The filename of the attached file.
                    type: string
                    example: message.txt
                data:
                    description: The file contents base64 encoded
                    type: string
                    example: aGVsbG8gdGhlcmUK
            example:
                filename: file.txt
                data: base64_encoded_file_contents
        MailBlockClickHouse:
            title: MailBlockClickHouse
            description: A block entry from the clickhouse mailblocks server.
            required:
                - date
                - to
                - subject
                - messageId
                - from
            type: object
            properties:
                date:
                    format: date
                    type: string
                from:
                    type: string
                messageId:
                    type: string
                subject:
                    type: string
                to:
                    type: string
            example:
                date: '2023-08-07'
                from: user@domain.com
                messageId: pFaRqFUEWkucjhTuIzYuoAgWU@domain.com
                subject: Test Email
                to: '[''client@site.com'']'
        MailBlockRspamd:
            title: MailBlockRspamd
            description: This is a block entry from the rspamd block list.
            required:
                - subject
                - from
            type: object
            properties:
                from:
                    type: string
                subject:
                    type: string
            example:
                from: user@domain.com
                subject: Test email
        MailBlocks:
            title: MailBlocks
            description: The listing of blocked emails.
            required:
                - local
                - mbtrap
                - subject
            type: object
            properties:
                local:
                    type: array
                    items:
                        $ref: '#/components/schemas/MailBlockClickHouse'
                mbtrap:
                    type: array
                    items:
                        $ref: '#/components/schemas/MailBlockClickHouse'
                subject:
                    type: array
                    items:
                        $ref: '#/components/schemas/MailBlockRspamd'
            example:
                local:
                    -
                        date: '2023-08-07'
                        from: user@domain.com
                        messageId: pFaRqFUEWkucjhTuIzYuoAgWU@domain.com
                        subject: Test Email
                        to: '[''client@site.com'']'
                mbtrap:
                    -
                        date: '2023-08-07'
                        from: user@domain.com
                        messageId: pFaRqFUEWkucjhTuIzYuoAgWU@domain.com
                        subject: Test Email
                        to: '[''client@site.com'']'
                subject:
                    -
                        from: user@domain.com
                        subject: Test Email
        MailLog:
            title: MailLog
            description: Mail log records
            required:
                - total
                - skip
                - limit
                - emails
            type: object
            properties:
                total:
                    description: total number of mail log entries
                    type: integer
                    example: '10234'
                skip:
                    description: number of emails skipped in listing
                    type: integer
                    example: '0'
                limit:
                    description: number of emails to return
                    type: integer
                    example: '100'
                emails:
                    type: array
                    items:
                        $ref: '#/components/schemas/MailLogEntry'
                    example: |-
                        [{
                            "_id": 103172,
                            "id": "17c7eda538e0005d03",
                            "from": "person@mysite.com",
                            "to": "client@isp.com",
                            "subject": "sell 0.005 shares",
                            "messageId": "<vmiLEebsuCbSpUxD7oN3REpaN4VbN6BrdCAbNKIrdAo@relay0.mailbaby.net>",
                            "created": "2021-10-14 08:50:10",
                            "time": 1634215809,
                            "user": "mb5658",
                            "transtype": "ESMTPSA",
                            "origin": "199.231.189.154",
                            "interface": "feeder",
                            "sendingZone": "interserver",
                            "bodySize": 63,
                            "seq": 1,
                            "recipient": "client@isp.com",
                            "domain": "interserver.net",
                            "locked": 1,
                            "lockTime": "1634215818533",
                            "assigned": "relay1",
                            "queued": "2021-10-14T12:50:15.487Z",
                            "mxHostname": "mx.j.is.cc",
                            "response": "250 2.0.0 Ok queued as C91D83E128C"
                        }]
            example:
                total: 1
                skip: 0
                limit: 100
                emails:
                    -
                        _id: 103172
                        id: 17c7eda538e0005d03
                        from: person@mysite.com
                        to: client@isp.com
                        subject: sell 0.005 shares
                        messageId: <vmiLEebsuCbSpUxD7oN3REpaN4VbN6BrdCAbNKIrdAo@relay0.mailbaby.net>
                        created: '2021-10-14T08:50:10.000Z'
                        time: 1634215809
                        user: mb5658
                        transtype: ESMTPSA
                        origin: 199.231.189.154
                        interface: feeder
                        sendingZone: interserver
                        bodySize: 63
                        seq: 1
                        delivered: 1
                        recipient: client@isp.com
                        domain: interserver.net
                        locked: 1
                        lockTime: '1634215818533'
                        assigned: relay1
                        queued: '2021-10-14T12:50:15.487Z'
                        mxHostname: mx.j.is.cc
                        response: 250 2.0.0 Ok queued as C91D83E128C
        MailOrder:
            title: MailOrder
            description: A mail order record
            required:
                - status
                - id
                - username
            type: object
            properties:
                id:
                    format: int32
                    description: The ID of the order.
                    type: integer
                    example: '21472'
                status:
                    description: The order status.
                    type: string
                    example: active
                username:
                    description: The username to use for this order.
                    type: string
                    example: mb21472
                comment:
                    description: Optional order comment.
                    type: string
            example:
                id: 21472
                status: active
                username: mb21472
        SendMail:
            title: SendMail
            description: Details for an Email
            required:
                - to
                - from
                - subject
                - body
            type: object
            properties:
                to:
                    description: The Contact whom is the primary recipient of this email.
                    type: string
                    example: johndoe@company.com
                from:
                    description: The contact whom is the this email is from.
                    type: string
                    example: janedoe@company.com
                subject:
                    description: The subject or title of the email
                    type: string
                    example: Attention Client
                body:
                    description: The main email contents.
                    type: string
                    example: This is an email to inform you that something noteworthy happened.
                id:
                    description: Optional Order ID
                    type: integer
        EmailAddressNames:
            title: EmailAddressNames
            description: Array of Email Addresses
            type: array
            items:
                $ref: '#/components/schemas/EmailAddressName'
            example:
                -
                    email: user@domain.com
                    name: John Smith
        SendMailAdv:
            title: SendMailAdv
            description: Details for an Email
            required:
                - from
                - to
                - subject
                - body
            type: object
            properties:
                subject:
                    description: The subject or title of the email
                    type: string
                    example: Your Package has been Delivered!
                body:
                    description: The main email contents.
                    type: string
                    example: >-
                        The package you ordered on 2021-01-23 has been delivered. If the package is broken
                        into many pieces, please blaim someone else.
                from:
                    $ref: '#/components/schemas/EmailAddressTypes'
                    description: The from email address.
                    example: me@company.com
                to:
                    $ref: '#/components/schemas/EmailAddressesTypes'
                    description: >-
                        A list of destionation email addresses to send this to.  You can pass the `to` field
                        either as a RFC 822 compliant comma seperated list of email addresses (like
                        `user@domain.com, user2@domain.com, Guy <user3@domain.com>`) or as an array of objects
                        each one having at least an `email` field with the email address and an optional
                        `name` field with the display name.
                    example: user@domain.com
                replyto:
                    $ref: '#/components/schemas/EmailAddressesTypes'
                    description: >-
                        (optional) A list of email addresses that specify where replies to the email should be
                        sent instead of the _from_ address.
                    example: user@domain.com
                cc:
                    $ref: '#/components/schemas/EmailAddressesTypes'
                    description: >-
                        (optional) A list of email addresses to carbon copy this message to.  They are listed
                        on the email and anyone getting the email can see this full list of Contacts who
                        received the email as well.
                    example: user2@domain.com
                bcc:
                    $ref: '#/components/schemas/EmailAddressesTypes'
                    description: >-
                        (optional) list of email addresses that should receive copies of the email.  They are
                        hidden on the email and anyone gettitng the email would not see the other people
                        getting the email in this list.
                    example: '[{"email": "user@domain.com", "name": "John Smith"}]'
                attachments:
                    description: >-
                        (optional) File attachments to include in the email.  The file contents must be base64
                        encoded!
                    type: array
                    items:
                        $ref: '#/components/schemas/MailAttachment'
                    example: |-
                        [
                                {
                                    "filename": "text.txt",
                                    "data": "base64_encoded_contents"
                                }
                        ]
                id:
                    format: int64
                    description: (optional)  ID of the Mail order within our system to use as the Mail Account.
                    type: integer
                    example: '5000'
            example:
                subject: Welcome
                body: Hello
                from: user@domain.com
                to: someone@client.com
                cc:
                    -
                        email: someone2@client.com
                        name: Mr Client
                    -
                        email: someone3@client.com
                        name: Mr Client
                attachments:
                    -
                        filename: file.txt
                        data: base64_encoded_contents
                id: 66
        MailLogEntry:
            title: MailLogEntry
            description: An email record
            required:
                - _id
                - id
                - from
                - to
                - subject
                - created
                - time
                - user
                - transtype
                - origin
                - interface
                - sendingZone
                - bodySize
                - seq
                - recipient
                - domain
                - locked
                - lockTime
                - assigned
                - queued
                - mxHostname
                - response
            type: object
            properties:
                _id:
                    description: internal db id
                    type: integer
                    example: '103172'
                id:
                    description: mail id
                    type: string
                    example: 17c7eda538e0005d03
                from:
                    description: from address
                    type: string
                    example: person@mysite.com
                to:
                    description: to address
                    type: string
                    example: client@isp.com
                subject:
                    description: email subject
                    type: string
                    example: sell 0.005 shares
                messageId:
                    description: message id
                    type: string
                    example: <vmiLEebsuCbSpUxD7oN3REpaN4VbN6BrdCAbNKIrdAo@relay0.mailbaby.net>
                created:
                    description: creation date
                    type: string
                    example: '2021-10-14 08:50:10'
                time:
                    description: creation timestamp
                    type: integer
                    example: '1634215809'
                user:
                    description: user account
                    type: string
                    example: mb5658
                transtype:
                    description: transaction type
                    type: string
                    example: ESMTPSA
                origin:
                    description: origin ip
                    type: string
                    example: 199.231.189.154
                interface:
                    description: interface name
                    type: string
                    example: feeder
                sendingZone:
                    description: sending zone
                    type: string
                    example: interserver
                bodySize:
                    description: email body size in bytes
                    type: integer
                    example: '63'
                seq:
                    description: index of email in the to adderess list
                    type: integer
                    example: '1'
                recipient:
                    description: to address this email is being sent to
                    type: string
                    example: client@isp.com
                domain:
                    description: to address domain
                    type: string
                    example: interserver.net
                locked:
                    description: locked status
                    type: integer
                    example: '1'
                lockTime:
                    description: lock timestamp
                    type: string
                    example: '1634215818533'
                assigned:
                    description: assigned server
                    type: string
                    example: relay1
                queued:
                    description: queued timestamp
                    type: string
                    example: '2021-10-14T12:50:15.487Z'
                mxHostname:
                    description: mx hostname
                    type: string
                    example: mx.j.is.cc
                response:
                    description: mail delivery response
                    type: string
                    example: 250 2.0.0 Ok queued as C91D83E128C
            example:
                _id: 103172
                id: 17c7eda538e0005d03
                from: person@mysite.com
                to: client@isp.com
                subject: sell 0.005 shares
                messageId: <vmiLEebsuCbSpUxD7oN3REpaN4VbN6BrdCAbNKIrdAo@relay0.mailbaby.net>
                created: '2021-10-14 08:50:10'
                time: 1634215809
                user: mb5658
                transtype: ESMTPSA
                origin: 199.231.189.154
                interface: feeder
                sendingZone: interserver
                bodySize: 63
                seq: 1
                delivered: 1
                recipient: client@isp.com
                domain: interserver.net
                locked: 1
                lockTime: '1634215818533'
                assigned: relay1
                queued: '2021-10-14T12:50:15.487Z'
                mxHostname: mx.j.is.cc
                response: 250 2.0.0 Ok queued as C91D83E128C
        EmailAddress:
            description: an email address
            type: string
            example: user@domain.com
        EmailAddressesTypes:
            oneOf:
                -
                    $ref: '#/components/schemas/EmailAddress'
                -
                    $ref: '#/components/schemas/EmailAddressNames'
            title: EmailAddressTypes
            description: ''
        EmailAddressTypes:
            oneOf:
                -
                    $ref: '#/components/schemas/EmailAddress'
                -
                    $ref: '#/components/schemas/EmailAddressName'
            title: EmailAddressTypes
            description: ''
        MailStatsType:
            title: Root Type for MailStatsType
            description: >-
                Statistics about the mail usage including volume by IP, To address, and From address; as well
                as total sent / delivered counts and cost.
            type: object
            properties:
                time:
                    default: 1h
                    enum:
                        - all
                        - billing
                        - month
                        - 7d
                        - 24h
                        - today
                        - 1h
                    type: string
                usage:
                    format: int32
                    type: integer
                currency:
                    type: string
                currencySymbol:
                    type: string
                cost:
                    format: double
                    type: number
                received:
                    format: int32
                    type: integer
                sent:
                    format: int32
                    type: integer
                volume:
                    type: object
                    properties:
                        to:
                            type: object
                            properties:
                                client@domain.com:
                                    format: int32
                                    type: integer
                                user@site.net:
                                    format: int32
                                    type: integer
                                sales@company.com:
                                    format: int32
                                    type: integer
                                client@anothersite.com:
                                    format: int32
                                    type: integer
                        from:
                            type: object
                            properties:
                                billing@somedomain.com:
                                    format: int32
                                    type: integer
                                sales@somedomain.com:
                                    format: int32
                                    type: integer
                        ip:
                            type: object
                            properties:
                                1.1.1.1:
                                    format: int32
                                    type: integer
                                2.2.2.2:
                                    format: int32
                                    type: integer
                                3.3.3.3:
                                    format: int32
                                    type: integer
                                4.4.4.4:
                                    format: int32
                                    type: integer
            example:
                time: all
                usage: 55
                currency: USD
                currencySymbol: $
                cost: 1.02
                received: 508
                sent: 495
                volume:
                    to:
                        client@domain.com: 395
                        user@site.net: 57
                        sales@company.com: 47
                        client@anothersite.com: 9
                    from:
                        billing@somedomain.com: 369
                        sales@somedomain.com: 139
                    ip:
                        1.1.1.1: 142
                        2.2.2.2: 132
                        3.3.3.3: 129
                        4.4.4.4: 105
        SendMailRaw:
            title: Root Type for RawMail
            description: Raw Email Object
            required:
                - raw_email
            type: object
            properties:
                raw_email:
                    description: The entire email contents
                    type: string
                id:
                    description: Optional order id
                    type: integer
            example: |-
                {
                    "raw_email": "Date: Sun, 16 Nov 2025 14:30:11 -0500
                To: Me <support@interserver.net>
                From: Mail Test <support@interserver.net>
                Reply-To: Mail Test <support@interserver.net>
                Subject: testing out raw email api call
                Message-ID: <9jeLkYQIw7KqYnoiCnnYj7EC0IrSHdp8XMuJq9a5qs@interserver.net>
                X-Mailer: PHPMailer 7.0.0 (https://github.com/PHPMailer/PHPMailer)
                MIME-Version: 1.0
                Content-Type: text/html; charset=iso-8859-1
                DKIM-Signature: v=1; d=interserver.net; s=my;
                 a=rsa-sha256; q=dns/txt; t=1763321411; c=relaxed/simple;
                 h=Date:To:From:Cc:Reply-To:Subject:Message-ID:X-Mailer:MIME-Version:Content-Type;
                 i=support@interserver.net;
                 z=Date:Sun,=2016=20Nov=202025=2014:30:11=20-0500
                 |To:Me=20<support@interserver.net>
                 |From:Mail=20Test=20<support@interserver.net>
                 |Reply-To:Mail=20Test=20<support@interserver.net>
                 |Subject:testing=20out=20raw=20email=20api=20call
                 |Message-ID:<9jeLkYQIw7KqYnoiCnnYj7EC0IrSHdp8XMuJq9a5qs@.interserver.net>
                 |X-Mailer:PHPMailer=207.0.0=20(https://github.com/PHPMailer/PHPMailer)
                 |MIME-Version:1.0
                 |Content-Type:text/html=3B=20charset=3Diso-8859-1;
                 bh=fPFl0b98y3O5OC2/jlDIKjv1DgBrF8rWyQTuSQsVoQ4=;
                 b=ZWe3RJSvqQjeWkg3EZHhPA3CMKWFrMlssMXVNuJ3woo2lG3BtRAZAKjf0Tv2NDZxm2AYh80zp
                 mY4OxBGud4ZPzsSQ5VfieAoe/m6FAJ53deYkunDIq6IAiQjf3QhqyUeGiyQUxgKkhP+/1QlOW
                 /TLRNf9mRTlOLx/mPiRVYyulA=

                this is a test of the rawsend api call

                "
                }
    responses:
        BadInput:
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ErrorMessage'
                    examples:
                        BadInputError:
                            value:
                                code: 400
                                message: There was a problem with the input parameters.
            description: Error message when there was a problem with the input parameters.
        NotFound:
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ErrorMessage'
                    examples:
                        NotFoundError:
                            value:
                                code: 404
                                message: The specified resource was not found.
            description: The specified resource was not found
        Unauthorized:
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ErrorMessage'
                    examples:
                        UnauthorizedError:
                            value:
                                code: 401
                                message: Unauthorized
            description: Unauthorized
    securitySchemes:
        apiKeyAuth:
            type: apiKey
            description: >-
                This authentication method uses a X-API-KEY HTTP header with the API Key from your account for
                validation.
            name: X-API-KEY
            in: header
security:
    -
        apiKeyAuth: []
tags:
    -
        name: Services
        description: Mail service orders.
    -
        name: Sending
        description: Email delivery commands
    -
        name: Blocking
        description: Management of email blocking rules and block lists.
    -
        name: History
        description: Information about already delivered emails.
    -
        name: Status
        description: Service Status
externalDocs:
    description: FAQ
    url: 'https://www.mail.baby/tips/'
